body{
    font-size: 14px;
   
}

table {
    border:2px solid #eee;
}

thead,tfoot{
    border-collapse:collapse;
    background: #eee;
}

th,td{
    padding:8px;
    text-align: center;
}

tbody td:first-child{
    color: red;
}

tbody td:last-child{
    color: blue;
}

tfoot {
    font-weight: bold;
  }
  
  td.Disabled {
    opacity: 0.3;
  }
  
  td.Today {
    font-weight: bold;
    color: aqua;
  }
  
  #prev,
  #next,
  #today {
    cursor: pointer;
    user-select: none;
  }


